
/* =====================  MENU ===================== */

 /* Faz a imagem de fundo ocupar toda a tela */
    body {
        margin: 0; /* remove margens padrão */
        height: 50px;
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        background-image: url("image/fundo.webp"); /* caminho da imagem */
        background-size: cover; /* cobre toda a área */
        background-position: center; /* centraliza a imagem */
        background-repeat: no-repeat;
        background-color: #080038;
        margin-bottom: 70px; /* igual ou um pouco maior que a altura do rodapé */
    }


.menu {
    background-image: linear-gradient(to right, #000222, #4b8aff);
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 7px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Faz o menu ocupar toda a largura da tela */
    position: fixed; /* Para fixar o menu no topo */
    top: 0;
    left: 0;
    z-index: 1000; /* Para garantir que o menu fique sobre outros elementos */
}

.menu ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-grow: 1; /* Faz a lista de links ocupar o máximo de espaço possível */
    justify-content: flex-start;
}

.menu ul li {
    padding: 10px;
    display: flex;
}

.menu li a {
    color: white;
    font-size: 25px;
    display: block;
    text-decoration: none;
    margin-left: 20px;
    border-radius: 0px;
}

/* ===================== HAMBURGER MENU ===================== */

.hamburger {
  display: none;
  font-size: 38px;
  cursor: pointer;
  user-select: none;
  position: relative;
  left: 90%;
  top: 0;
  margin-right: 10px;
  z-index: 1100;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #202ab5;
  opacity: 0.95;
  position: absolute;
  top: 60px; /* dentro da barra de menu */
  border: 1px solid #040949;
  left: 70%;
  width: 220px;
  z-index: 1000;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.12);
}

.mobile-menu a {
  color: white;
  padding: 12px;
  text-decoration: none;
  border-bottom: 1px solid #0b1b4a;
  text-align: left;
}

 /* ========================== IMAGEM FUNDO ================================ */

    /* Exemplo de conteúdo em cima da imagem */
    .conteudo {
        position: relative; /* mantém em cima do fundo */
        z-index: 1; /* garante que fique sobre a imagem */
        color: white; /* texto visível */
        text-align: center;
        padding: 5px;
        font-size: 2rem;
    }

    /* Se quiser colocar um fundo semitransparente atrás do texto */
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* preto com transparência */
        z-index: 0; /* fica atrás do conteúdo */
        opacity: 100%;
    }


/*==================================== corpo ==========================================*/
/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

hr {
    width: 80%;
    color: black;
    margin-top: 10px;
    margin-bottom: 15px;
}

/*==================================== formulario fundo =============================*/

.formulario-header { /*titulo do formulario (fundo) */
    text-align: center;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/*==================================== formulario =================================*/
    

form { /* estilo do formulario (fundo) */
    display: flex;
    flex-direction: column;
    width: 27%;
    height: 550px;
    margin: 0 auto;
    margin-right: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-container { /* centraliza o formulario na pagina */
  position: relative;
  left: 300px;  /* move para a direita */
}

.conjunto { /* estilo dos conjuntos de label e input */
  display: flex;
  flex-direction: column; /* coloca label acima do input */
  align-items: center; /* centraliza o conteúdo */
}

/* Label em cima do input */
.conjunto label {
  text-align: left;
  width: 70%;  /* para acompanhar a largura dos inputs */
  display: block;
  font-size: 13px; /*texto maior*/
  margin-right: 40px;
  color: #333;
  font-weight: none;
  margin-bottom: 5px;
}


.label-icon { /* estilo do ícone dentro do label */
  display: flex;          /* coloca ícone e campo na mesma linha */
  align-items: center;    /* centraliza verticalmente */
  gap: 8px;               /* espaço entre o ícone e o select */
}


/* Campos de entrada */
input[type="text"], input[type="email"] {
  padding: 10px;
  text-align: left;
  font-size: 14px;
  border: 1px solid #949292b7;
  border-radius: 8px;
  width: 80%;
  background-color: #fff;
}

select[name="id_servico"]  {
  padding: 10px;
  text-align: left;
  font-size: 14px;
  border: 1px solid #949292b7;
  border-radius: 8px;
  width: 83%;
  background-color: #fff;
}

/* Campos de entrada após clicar */
input:focus[type="text"], input:focus[type="email"] {
  text-align: left;
  font-size: 14px;
  border: 2px solid #3d77f3d8;
  outline: none; /* remove o contorno padrão do navegador */
  border-radius: 8px;
  width: 80%;
  background-color: #fff;
}

select:focus[name="id_servico"] {
  text-align: left;
  font-size: 14px;
  border: 2px solid #3d77f3d8;
  outline: none; /* remove o contorno padrão do navegador */
  border-radius: 8px;
  width: 83%;
  background-color: #fff;
}


button { /* botão enviar */
    background-color: #3d6ceb;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 16px;
    margin-top: 40px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 50px;
    width: 83%;
}

button:hover {
    transition: background-color 0.3s ease;
    background-color: #2c4a9c;
}


/*==================================== TEXTO AO LADO ================================*/

.formulario-body {
    display: flex;
}

/* TEXTO À ESQUERDA */
.texto {
  max-width: 600px;
  font-size: 30px;
  line-height: 1.8;
  font-weight: bold;
  text-align: justify;
  color: #5b3727;
}

/* ===================== RESPONSIVIDADE ===================== */

/* ======== TABLET (até 1024px) ======== */
/* ===================== ORIGEM ===================== */
@media (max-width: 1024px) {

  .menu li a {
    font-size: 15px;
    align-items: right;
  }

}
  /* ===================== MENU ===================== */
@media (max-width: 768px) {
  .menu ul {
    display: none;
  }

  .hamburger {
    display: block;
    color: white;
  }

  .mobile-menu {
    display: none;
  }
}